h1 {
  text-transform: uppercase;
  color: white;
  font-size: 1.7rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.2rem;
  }
}

h3 {
  color: white;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.7rem;
  }
}

p {
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 1.2rem;
  }
}

span {
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  span {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  span {
    font-size: 1.7rem;
  }
}

a {
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  a {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  a {
    font-size: 1.7rem;
  }
}

li {
  font-size: 0.5rem;
}
@media screen and (min-width: 768px) {
  li {
    font-size: 1.2rem;
  }
}

.wave {
  padding-left: 0.625rem;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.carousel-item {
  height: 25rem;
  color: white;
  position: relative;
  background: black;
}

.container {
  position: absolute;
  bottom: 0;
  left: -50%;
  right: -50%;
  padding-bottom: 1.5rem;
}
.container h2 {
  font-size: 2rem;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.75;
}

.btn-secondary {
  background-color: burlywood;
  font-size: 0.5rem;
  border: none;
}
@media screen and (min-width: 768px) {
  .btn-secondary {
    font-size: 0.9rem;
  }
}

body {
  z-index: 1;
  font-family: "Roboto", sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 108vh;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../images/mountains.png");
}
@media screen and (min-width: 1024px) {
  header {
    height: 100vh;
  }
}
header h1 {
  margin-top: 5rem;
  text-shadow: 1.5px 1.5px #492d43;
  margin-top: 4rem;
}

.about-me {
  width: 100%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.about-me img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.255);
}
@media screen and (min-width: 768px) {
  .about-me img {
    width: 15rem;
    height: 15rem;
  }
}
@media screen and (min-width: 1024px) {
  .about-me img {
    width: 20rem;
    height: 20rem;
  }
}
.about-me a {
  background-color: #494e6bb9;
  color: white;
  padding: 1.563rem;
  text-decoration: none;
  border-radius: 0.99rem;
  width: 15.5rem;
  height: 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .about-me a {
    width: 25rem;
    height: 2rem;
  }
}

.header-description {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 1024px) {
  .header-description {
    height: 80vh;
  }
}

.description {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: rgba(245, 245, 245, 0.822);
  color: #885361;
  padding: 1rem;
  top: 100%;
  width: 70%;
}
@media screen and (min-width: 768px) {
  .description {
    width: 60%;
  }
}

main {
  width: 100vw;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #192231;
}
main h1 {
  text-shadow: 1.5px 1.5px #2e2b2d;
  margin-top: 3rem;
  width: 90%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  main h1 {
    width: 50%;
  }
}
main .my-projects h1 {
  width: 100%;
  text-shadow: 2px 2px #353535;
}
main .three {
  font-family: "Shadows Into Light", cursive;
  font-size: 160%;
  font-weight: bolder;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  border-radius: 50%;
  color: #767373;
  text-shadow: 0.1rem 0.1rem solid white;
  text-align: center;
}

.top-3 {
  width: 100vw;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-3 .this-is-me {
  background-color: #8e6b7b61;
  width: 70%;
  margin: 2rem;
  color: white;
  padding: 1rem;
  border: 2px solid #b0c4de;
  box-shadow: 0.1rem 0.1rem 0rem rgba(128, 128, 128, 0.516);
}
.top-3 h3 {
  margin: 0 0 1rem 0;
}

.my-projects {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #192231;
  width: 100vw;
  display: flex;
}
@media screen and (min-width: 768px) {
  .my-projects {
    width: 100%;
    padding: 3rem;
  }
}
.my-projects .project {
  width: 80%;
  border: 0.3rem solid #00000059;
  padding: 1rem;
  margin: 2rem;
  background-color: rgba(111, 104, 104, 0.851);
}

.contact {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #767373;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #192231;
  font-weight: bold;
  padding: 3rem;
}
.contact h3 {
  width: 80%;
  margin: 2rem;
}
.contact ul {
  display: flex;
  flex-direction: column;
  width: 70vw;
  border: 0.2rem solid white;
  padding-left: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.365);
}
@media screen and (min-width: 768px) {
  .contact ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
  }
}
.contact ul li {
  list-style: none;
  padding-left: 0;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  .contact ul li {
    font-size: 0.9rem;
  }
}
.contact ul li a {
  text-decoration: none;
  color: #192231;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  .contact ul li a {
    font-size: 0.9rem;
  }
}
.contact ul li i {
  display: inline;
  padding-right: 1rem;
  color: white;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  .contact ul li i {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=main.css.map */
