@import "./variables";
@import "./mixins";
@import "./components/wave";
@import "./components/carousel";

body {
  z-index: 1;
  font-family: "Roboto", sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

//HEADER STARTS HERE
header {
  height: 90vh;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../background-images/mountains.png");
  
  @include verticalMobileSmall{
    height: 177vh;
  }
  @include desktop{
    height: 100vh;
  }

  h1 {
    margin-top: 5rem;
    text-shadow: 1.5px 1.5px #492d43;
    margin-top: 4rem;
  }
}

.about-me {
  width: 100%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: 0.25rem solid rgba(255, 255, 255, 0.255);
  
    @include verticalMobileSmall{
      width: 15rem;
      height: 15rem;
    }  

    @include verticalTablet {
      width: 15rem;
      height: 15rem;
    }
    @include desktop{
      width: 20rem;
      height: 20rem;
    }
  }

  a {
    background-color: #494e6bb9;
    color: white;
    padding: 1.563rem;
    text-decoration: none;
    border-radius: 0.99rem;
    width: 15.5rem;
    height: 0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4rem;

    @include verticalTablet {
      width: 25rem;
      height: 2rem;
    }
  }
}

.header-description {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @include verticalMobileSmall{
    height: 160vh;
  }

  @include desktop{
    height: 80vh;
  }
}

.description {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: rgba(245, 245, 245, 0.694);
  color: #985e6d;
  padding: 1rem;
  top: 100%;
  width: 70%;

  @include verticalTablet {
    width: 60%;
  }

  @include verticalMobileSmall{
    width: 90%;
  }

}
//HEADER ENDS HERE

//MAIN STARTS HERE
main {
  width: 100vw;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #192231;

  h1 {
    text-shadow: 1.5px 1.5px #2e2b2d;
    margin-top: 3rem;
    width: 90%;
    text-align: center;

    @include verticalTablet {
      width: 50%;
    }
  }

  .my-projects h1{
    width: 100%;
    text-shadow: 2px 2px #353535;
  }


  .three {
    font-family: "Shadows Into Light", cursive;
    font-size: 160%;
    font-weight: bolder;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    border-radius: 50%;
    color: rgb(118, 115, 115);
    text-shadow: 0.1rem 0.1rem solid white;
    text-align: center;
  }
}

.top-3 {
  width: 100vw;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .this-is-me {
    background-color: #8e6b7b61;
    width: 50%;
    margin: 2rem;
    color: white;
    padding: 1rem;
    border: 2px solid #b0c4de;
    box-shadow: 0.1rem 0.1rem 0rem rgba(128, 128, 128, 0.516);
  }

  h3 {
    margin: 0 0 1rem 0;
  }
}

.my-projects {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #192231;
  width: 100vw;
  display: flex;

  @include verticalTablet {
    width: 100%;
    padding: 3rem;
  }

  .project {
    width: 80%;
    border: 0.3rem solid #00000059;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(111, 104, 104, 0.851);
  }
}
//MAIN ENDS HERE

//FOOTER STARTS HERE
.contact {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #767373;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #192231;
  font-weight: bold;
  padding: 3rem;

  h3 {
    width: 80%;
    margin: 2rem;
  }

  ul {
    display: flex;
    flex-direction: column;
  
    width: 70vw;
    border: 0.2rem solid white;
    padding-left: 0;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.365);

    @include verticalTablet{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80vw;
    }

    li {
      list-style: none;
      padding-left: 0;
      font-size: $fs-bread-sm;
      @include verticalTablet{
        font-size: $fs-bread-sm;
      }

      a {
        text-decoration: none;
        color: #192231;
        font-size: $fs-bread-sm;
        @include verticalTablet{
          font-size: $fs-bread-sm;
        }
      }

      i {
        padding-right: 1rem;
        color: white;
        font-size: $fs-bread-sm;
        @include verticalTablet{
          font-size: $fs-bread-sm;
        }
      }
    }
  }
}
