@import "../mixins";

// FONT SIZES
$fs-heading: 3.2rem;
$fs-title: 2.4rem;
$fs-subtitle: 1.7rem;
$fs-body: 1.4rem;
$fs-bread: 1.2rem;
$fs-bread-sm: 0.9rem;
$fs-tiny: 0.5rem;

// FONT WEIGHTS
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;



h1{
    text-transform: uppercase;
    color: white;
    font-size: $fs-subtitle;
    @include verticalTablet{
      font-size: $fs-title;
    }
    @include desktop{
      font-size: $fs-heading;
    }
  }

  h3{
    color: white;
    font-size: $fs-bread;
    @include verticalTablet {
      font-size: $fs-subtitle;
    }
  }

  p{
    font-size: $fs-bread-sm;
    @include verticalTablet{
      font-size: $fs-bread;
    }
  }

  span{
    font-size: $fs-bread-sm;
    @include verticalTablet{
      font-size: $fs-body;
    }
    @include desktop{
      font-size: $fs-subtitle;
    }
  }

  a{
    font-size: $fs-bread-sm;
    @include verticalTablet{
      font-size: $fs-body;
    }
    @include desktop{
      font-size: $fs-subtitle;
    }
  }

  li{
    font-size: $fs-tiny;
    @include verticalTablet {
      font-size: $fs-bread;
    }
  }

