body{
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(245, 184, 184);
    color: white;
    }

.about-me{
    background-color:rgb(255, 113, 107);
    color: white;
    text-align: center;
    padding:30px 50px;
    }

.about-me a{
    background-color: white;
    color: tomato;
    padding: 25px;
    text-decoration: none;
    font-weight: 600px;
    border-radius: 40px;

}

.about-me img{
    border-radius: 50%;
    width: 300px;
    height: 340px;
    margin: 30px;
    margin-bottom: 50px;
}

.about-me h2{
    margin: 50px;
}

.top-3{
    text-align: center;
    padding: 30px 50px;
    margin: 0 auto;
}

.top-3 p{
    border: solid 3px grey;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 30px;
    background-color: rgb(220, 220, 220, 0.6);
    border-radius: 10px;
}

.contact{
    background-color: rgb(206, 183, 184);
    padding: 30px 50px;
}

.contact a{
    color: rgb(255, 113, 107);
    background-color: white;
    padding: 20px;
    text-decoration: none;
    font-weight: 200px;
    border-radius: 40px;
    margin-left: 200px;
}

.contact a:hover{
    color: darkgray;
}

.contact p{
    padding: 20px;
}

.contact-form{
    border-radius: 40px;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 20px;
}


h1{
    font-size: 50px;
    font-weight: 200px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 17px;
    color: black;
}