.carousel-item{
    height: 25rem;
    color: white;
    position: relative;
    background: black;
}

.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 1.5rem;
    text-align: left;

    h2{
        font-size: 2rem;
    }
}

.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover ;
    opacity: 0.75;
  
}

.btn-secondary{
background-color: burlywood;
font-size: $fs-tiny;
border: none;

@include verticalTablet{
font-size: $fs-bread-sm;
  }
}
